/*
    Selecciona todos los elementos que tengan la clase barrita
    que sean de tipo nav
*/
html, body{
    padding-top: 0px;
    margin: 0px;
    background-color: #464646;
    color: #f2f2f2;
    font-family: Roboto;
    font-size: 14px;
}

nav{
 /* Style for "navbar" */       
    display: flex;
    padding-bottom: 10px;
    background-color: #252424;
    justify-content: space-between;
    align-items: center;
}

/*
    Selecciona todos los elementos hijos de la clase barrita
    despues selecciona todos los elementos a
    se le aplica las propiedades correspondiente
    La pseudoclase nth-child tiene un parametro que recibe un numero
    o una formula, la n quiere decir que va iterar todos los hijos
*/
nav img{
/* Style for "logo" */
    width: 77px;
    height: 52px;    
}

nav ul{
    display: flex;
}

nav li{
    padding-right: 40px;
    list-style: none;    
}

nav li a:nth-child(n) {         
    color: #f2f2f2;    
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;    
}

nav ul li a:nth-child(n):hover {         
    color: #2F80ED;        
}
main{
    padding:5%;
}

#banner{
    /* Style for "960x114_25" */        
    padding: 0px;
    width: 100%;
    height: 10%;
}

h2{
    /* Style for "Título" */    
    height: 28px;     
    font-size: 24px;
    font-weight: 400;
}
h3{        
    height: 40px;        
    font-size: 18px;
    font-weight: 400;
}
p{
/* Style for "Descripcio" */        
    font-weight: 400;
}
article{
    /* Style for "Background" */    
    background-color: #252424;
    padding: 20px;
}
figure{
    display: flex;
}
figure img{    
    /* Style for "laptop-hp-" */
    width: 110px;
    height: 114px;
    padding-right:40px;        
}

figure .content{   
    display: flexbox;
}
button.compra{
    /* Style for "Rectangle" */
    border: none;
    width: 172px;
    height: 32px;    
    /* Style for "Comprar ar" */
    color: #f2f2f2;    
    font-size: 14px;
    font-weight: 400;
    background-color: #2f80ed;
}
footer{
    /* Style for "Footer" */    
    color: #0a0909;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;    
    padding: 20px;          
    background-color: #f2f2f2;
    text-align: center;
}